<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>No title</title>
  <meta name="description" content="">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer="defer"></script>
  <link rel="stylesheet" href="css/bundle.css">
  <link rel="stylesheet" href="css/main.css">
  
  <script src="js/bundle.js" defer="defer"></script>
  <script src="js/main.js" defer="defer"></script>
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<main class="app">
      Content of the page...
  </main>
</body>
</html>
